<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
     xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <img src="https://www.knu.ac.kr/wbbs/img/intro/new_ch_basic.png" style="width: 40px; height:40px; margin-right:10px;">
    <a class="navbar-brand" href="/">SBB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
        </li>
        <li class="nav-item">
          <form id="myForm" action="/music" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="text" id="inputValue" name="inputValue" placeholder="값을 입력하세요">
            <button type="submit">전송</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <script>
    const form = document.getElementById("myForm");
    form.addEventListener("submit", function(event) {
      event.preventDefault(); // 기본 동작인 페이지 전환을 막음

      const inputValue = document.getElementById("inputValue").value; // input 태그의 값을 가져옴

      // 값이 존재할 경우에만 전송
      if (inputValue) {
        form.action = "/music?value=" + encodeURIComponent(inputValue); // action 속성에 전송할 주소 설정
        form.submit(); // form 전송
      }
    });
  </script>
</nav>